<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create game</title>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <script src="/js/sockjs-0.3.4.js"></script>
    <script src="/js/stomp.js"></script>
    <script>
        var onlinePlayersUsername = JSON.parse("[[${onlinePlayersUsername}]]".replace(/&quot;/g, '"'));
        var playersInRoom = JSON.parse("[[${playersInRoom}]]".replace(/&quot;/g, '"'));
        var currentPlayerUsername = "[[${currentPlayerUsername}]]";
    </script>
    <script src="/js/create_game.js"></script>
    <script src="/js/connect_websocket.js"></script>

</head>
<body>

<div style="position: relative; float: left">
    <h2>My game</h2>
    <div id="game_room">
        <li th:text="${currentPlayerUsername}"></li>
    </div>
    <button id="create_game">Create game</button>
<!--    <h3><a th:href="@{/process_create_game}">Create game</a></h3>-->
</div>

<div style="position: relative; float: right">
    <h2>Players online</h2>
    <div id="online_users"></div>
</div>

<dialog id="dialog">
    <header>Invitation !!!</header>
    <form method="dialog">
        <p id="dialog_noti"></p>
        <menu>
            <button id="accept">OK!</button>
            <button id="deny" value=0>I don't want to play</button>
        </menu>
    </form>
</dialog>
</body>
</html>